<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- Configuración de conexión a MySQL -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/FPDUAL_HIBERNATE_MYSQL_T2?createDatabaseIfNotExist=true&amp;useSSL=false&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=true</property>
		<property name="hibernate.connection.username">sqladmin</property>
		<property name="hibernate.connection.password">Elena12121234</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<!-- Configuración adicional -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<!-- Configuración del pool de conexiones (opcional) -->
		<!-- <property name="hibernate.c3p0.min_size">5</property> <property name="hibernate.c3p0.max_size">20</property> 
			<property name="hibernate.c3p0.timeout">300</property> <property name="hibernate.c3p0.max_statements">50</property> 
			<property name="hibernate.c3p0.idle_test_period">3000</property> -->

		<!-- Mapeos de clases -->
		<mapping class="com.fpdual.hibernate.persistence.Client" />

	</session-factory>
</hibernate-configuration>
